body {
  padding: 0px;
  margin: 0%;
  box-sizing: border-box;
  /* background-color: rgb(185, 182, 182); */
  /* font-family: "Playpen Sans", cursive; */
  background: url(./img/fondo.png)no-repeat center;
  background-size: cover;
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Playpen Sans', cursive; */ 
  font-family: 'EB Garamond', serif;
  
}

.encabezado {
  /* background-color: gray; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.encabezado i {
  font-size: 35px;
  color: blue;
}
.encabezado i .fa-heart-pulse {
  display: flex;
  position: sticky;
}
.fa-heart-pulse {
  position: fixed;
  right: 7px;
  bottom: 40px;
  margin-right: 40px;
  cursor: pointer;
  z-index: 2;
}
/* .check {
  display: none;
} */
.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 80px;
  display: none;
  float: right;
}

.titulo {
  font-size: 4em;
  color: blue;
  
}
header nav{
    float: right;
}
nav ul {
  display: flex;
}
nav ul.menu{
    float: right;
}
ul li a {
  gap: 6em;
  display: flex;
  /* margin: 10px; */
  color: blue;
  font-family: 'Black Ops One' ;
}
li a {
  text-decoration: none;
  text-decoration-style: none;
  text-transform: uppercase;
  justify-content: center;
  padding: 0 20px;
}
/* a:hover {
  color: black;
} */

.seccion-1 {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(141, 212, 247); */
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.acerca-de-mi {
  display: flex table-column;
  width: 19em;
  text-align: right;
  width: 48%;
  backdrop-filter: blur(0.6rem);
}
.parrafo-1, .parrafo-2 {
  font-size: 20px;
}
.acerca-imagen img {
  border-radius: 10%;
}
 .imagen-de-carrusel{
  width: 95%;
  height: 50%vh;
  display: flex;
  justify-content: center;
}  
.car1 {
  width: 60%;
  height: 300px; 
} 
.car2{
  width: 30%;
}

footer {
  background-color:rgba(22, 92, 223, 0.438);
  display: flex;
  flex-direction: column;
  /* text-indent: 15px; */
  /* margin: 1em; */
  /* padding: 1em; */
  text-align: center;
  
 
}
/* ul .redes{
  justify-content: center;
} */
footer h3 {
  margin-bottom: 0%;
  color: blue;
  font-size: 40px;
  /* text-transform: uppercase; */
  background-color: aliceblue;
  font-family: 'Black Ops One';
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5en;
  margin: 30px;  
  padding: 30px;
}
ul {
  list-style-type: none;
}
.seccion-3 {
  width: 100%;
  /* background-color: gray; */
  display: flex;
  /* height: 60vh; */
  flex-direction: column;
 
}

.logros {
  display: flex;
  justify-content: center;
  /* backdrop-filter: blur(0.4rem); */
}
.logros img{
  width: 50px;
}
.container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.seccion-3 .tarjetas {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  /* background-color: rgb(9, 131, 152); */
  /* box-shadow: 0, 0, 0, 0.2; */
  /* prueba */
  border: 3px solid rgba(30, 20, 223, 0.905);
  backdrop-filter: blur(0.6rem);
  /* hasta aca */
}
.contenido {
  text-align: center;
   
}
.tarjetas img {
  width: 100%;
  height: 50%;
  border-radius: 6px;}

   /* ------------- Encabezado Contacto ------------- */
  
   /* seccion-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #76b6f5;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  } */
  
  /* ------------- Formulario ------------- */
  
  /* .formulario {
    background-color: #4aa0f6;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"], .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  } */

  /* .form-row input[type="email"] */
/*   
   {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  } */

  /* .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #a5c9f3;
  
  
    border: none;
    border-radius: 6px;
  
  
    padding: 10px 40px;
    cursor: pointer;

    width: 200px;

    
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7; 
  }*/

   /* ------------- Para Pantallas de más de 700px ------------- */
  
  
   /* .form-row button {
    margin-left: 120px; */
  

/* ------------- Para Pantallas de más de 700px ------------- */


/* .form-row textarea {
    width: 250px;
  } */

/* .enviar{
  
} 
  

  /* ---------------------------------------------------------- */
 

a {
  text-decoration: none;
  text-decoration-style: none;

}
.contac{
  display: flex;
  font-size: 30px;
  justify-content: center;
  font-family: 'Black Ops One' ;
}

/* MEDIA QUERIES */
/* Estilos para pantallas más pequeñas (hasta 768px) */


@media (max-width: 768px) {
  body {
    background-color: brown;
  }
  .encabezado {
    background-color: black;
  }
  .container-cards {
    flex-direction: column;
  }
  .checkbtn {
    display: block;
  }
  .car1{
    width: auto;
  }
  .car2{
    display: none;
  }
  

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 174, 174);
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }
  #check:checked ~ ul {
    left: 0%;
    display: block;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ .checkbtn {
    color: blue;
  }

  .navbar.active{
    height: 100vh;
  }
  .navbar.active ul.menu{
    opacity: 1;
  }


  footer {
    background-color: black;
    width: auto;
  }
  footer h3 {
    color: gray;
    
  }
}

/* @media del formulario ---------------------------------------------- */

 /* ------------- Para Pantallas de más de 700px ------------- */
/* @media only screen and (min-width: 700px) {
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
} 

}*/
